section {
    width: 700px;
    height: 480px;
    background-color: gray;

}

nav {
    width: 100px;
    height: 460px;
    background-color: rgb(35, 129, 93);
    float: left;
    padding: 0px;
    margin: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    float: left;
}


li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    color: greenyellow;
    width: 80px;
  

li a:hover{
    border:5px solid yellow;
    padding:30px;
    color:yellow;
    font-weight:bold;
    background-color:lightblue;
}