:root {
    --color1: #1f2a68;
  }
  

section {
    width: 700px;
    height: 480px;
    background-color: rgb(221, 133, 133);
}

nav {
    width: 100px;
    height: 460px;
    background-color: rgb(185, 84, 177);
    float: left;
    padding: 0px;
    margin: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    float: left;
}


li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    color: rgb(31, 194, 206);
    width: 80px;
}

li a:hover {
    color: rgb(42, 66, 17);
    font-size: large;
}

.Nintendo:hover{
    font-size: large;
    background-image: url(Nintendo.jpg);
}

.Xbox:hover{
    font-size: large;
    background-image: url(XBox.jpg);
}

header {
    background-color: rgb(84, 84, 128);
    height: 150px;
    margin-left: 120px;
    margin-top: 20px;
}

#headerImg1{
    position:absolute;
    left:150px;
    top:50px;
    width: 150px;
}

#headerImg2{
    position:absolute;
    left:350px;
    top:50px;
    width: 150px;
}

.gameOn {
    color: yellow;
    left: 250px;
    top:60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 6px 1px;
    position: absolute;
    background-color: rgba(220, 223, 72, 0.61);
    box-shadow: 1px 1px 5px 1px;
}

aside{
    float:right;
    padding:15px;
    margin-top: 20px;
}

.submitButton {
    background-color: yellow;
    color: var(--color1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px;
  }

.grandTheftAuto {
    background-color: springgreen;
    height: 300px;
    margin-left: 120px;
}

h2 {
    background-color: yellow;
    padding: 5px;
    color: var(--color1);
    font-size: x-large;
    text-shadow: 2px 2px #ff0000;

}

.grandTheftAuto ul {
    list-style: square;
    padding-left: 20px;
}

#viceCity {
    color: white;
}
#imgGTA {
    width: 200px;
    height: 100px;
    margin-top: -100px;
}

video {
    width: 300px;
    height: 180px;
}